# Project exclude paths
/cmake-build-debug/
/*.txt
/.idea/
/cmake-build-debug/*
/build/*
/Makefile
/*.o
/BigIntegerTest/*
/CMakeFiles/*
/CMakeCache.txt
/testData/*
/*.a
/code
/cmake_install.cmake
/src/main.cpp
/.vscode/*


